@charset "UTF-8";

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway/Raleway-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Estilo global */
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* Encabezados */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin: 0 0 10px;
  color: #222;
}

/* Otros elementos */
/* Párrafos */
p {
  margin: 0 0 15px;
}

/* Enlaces */
a {
  color: #0077cc;
  text-decoration: none;
}

/* Enlaces Hover */
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
}

/* Textos generales */
p,
li {
  font-size: 1rem;
  line-height: 1.6;
  color: #444;
}

/* Listas */
ul,
ol {
  padding-left: 20px;
  margin: 0 0 15px;
}

li {
  margin-bottom: 10px;
}

/* Citas */
blockquote {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-style: italic;
  color: #555;
  border-left: 4px solid #0077cc;
  padding-left: 15px;
  margin: 0 0 15px;
}

/* Texto pequeño */
small {
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  color: #666;
}

/* Clases personalizadas */

/* General para la sección del menú */
.header {
  background-color: #73ec8b;
  padding: 10px 0;
  text-align: center;
}

.header h1 {
  margin: 0;
}

.homeLink {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: #fff;
  text-decoration: none; /* Sin subrayado */
  transition: color 0.5s ease; /* Animación */
  -webkit-text-stroke: 1px #019200; /* Borde verde al texto */
}

.homeLink:hover {
  color: #019200;
  text-decoration: none; /* Sin subrayado */
  -webkit-text-stroke: 1px #fff; /* Borde blanco al texto */
}

/* Menú de navegación */
.menu {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding: 10px 0;
  background-color: #f9f9f9;
  border-top: 2px solid #0077cc; /* Línea superior azul */
  border-bottom: 2px solid #0077cc; /* Línea inferior azul */
}

/* Botones del menú */
.menuButton {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px; /* Bordes redondeados */
  transition: all 0.3s ease; /* Animación */
}

/* Efectos al pasar el cursor */
.menuButton:hover {
  background-color: #0077cc;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  text-decoration: none;
}

/* Estilo al presionar click sobre el botón */
.menuButton:active {
  background-color: #005fa3;
  transform: scale(0.98); /* Hacer un poco más pequeño */
}

/* Contenido */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin: 40px auto;
  max-width: 800px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
}

/* Todas las imagenes dentro de una etiqueta main */
main img {
  width: 500px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Todos los párrafos dentro de una etiqueta main */
main p {
  font-size: 1.125rem;
  line-height: 1.8;
  text-align: justify;
}

/* Pie de página */
footer {
  background-color: #0077cc;
  color: white;
  padding: 15px;
  text-align: center;
  border-top: 3px solid #005fa3;
}

footer p {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
}

footer p small {
  color: #e0e0e0;
}

footer p strong {
  color: #ffffff;
  font-weight: bold;
}

/* Tabla de contenidos historia */
.contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 0 20px 0;
}
